* {
    margin: unset;
    padding: unset;
}

body {
    font-family: 'Karla', sans-serif;
    -webkit-font-smooting: antialiased;
    background-color: #1b1a1b;
    color: #ededed;
}

header {
    margin: 30px 0px;
}

.heading {
    color: #dddddd;
    font-size: 1.7rem;
    font-weight: 700;
    /* text-align: center; */
    padding: 0.9rem 2.9rem;
}

.main-section {
    padding: 3rem 12rem;
}

#deleteAllBtn {
    border: unset;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background: transparent;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0.5rem;
}

#itemInput label {
    /* display: block; */
    margin-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
}

#itemInput {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    place-content: start;
}

#itemInput input {
    height: 3.5rem;
    text-align: center;
    border: 1px solid #bfbfbf;
    /* display: flex; */
    /* justify-content: space-around; */
    width: 16rem;
    font-size: 1rem;
    /* text-align: start; */
    padding: 0 0.2rem;
    outline: none;
    border: none;
    box-shadow: rgba(50,50,93,0.25) 0px 2px 5px -1px, rgba(0,0,0,0.3) 0px 1px 3px -1px;
    background-color: #3E3E41;
    color: #ffffff !important;
}

#itemInput input:focus {
    border: 1px solid #ffffff;
}

#itemInput input::placeholder {
    font-family: 'Karla', sans-serif;
}

#updateForm label {
    /* display: block; */
    margin-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
}

#addItemButton {
    border: unset;
    background-color: #ffffff;
    color: #3E3E41;
    padding: 0.4rem;
    cursor: pointer;
    width: 13.5rem;
    height: 3.6rem;
    border-
}